node_modules/
tmp.json
model.json
*.txt
tables/**/*.txt
tables/**/*.csv
tables/**/*.json
tables/**/*.html
results/**/*.json
cut/**/*.json
*.json
*.zip
cities.csv
tmp.csv
performance_tests/*.txt
*.pem
*.ppk
*.exe
scoped_*